body {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  max-width: 1920px;
  
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
  background-color: rgb(92, 92, 92);
  font-size: 20px;
}

.navBar h1 {
  margin: 40px;
  color: white;
}

.navList {
  display: flex;
}

.navList a {
  text-decoration: none;
  list-style: none;
  padding: 5px;
  margin: 0px 20px;
  font-size: 20px;
  line-height: 90px;
  color: white;
}

.cartImg {
  width: 50px;
}

.cartBox {
  margin: 30px 40px;
}